*{
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --main-color : #00bcd4;
}

.con{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

/*Start Settings*/

.settings{
    position: fixed;
    left: -200px;
    top: 0;
    background-color: white;
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    transition: 0.5s;
}

.settings.open{
    left: 0;
    box-shadow: 0px 0px 20px 0 #333;
}

.settings .gear{
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 0 50% 50% 0;
}

.settings .gear i{
    padding: 8px 0;
    width: 30px;
}

.settings .gear.open{
    display: none;
}

.settings .close{
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 0;
    padding: 5px;
    color: red;
    opacity: 0.7;
    cursor: pointer;
}

.settings .option-box{
    padding: 20px;
    text-align: center;
}

.settings .option-box h3{
    margin: 0;
    color: #777;
}

.settings .option-box .colors-list{
    list-style: none;
    text-align: center;
    padding: 0;
}

.settings .option-box .colors-list li{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
    display: inline-block;
    transition: 0.5s;
}

.settings .option-box .colors-list li.active{
    opacity: 1;
    border: 1px solid black;
}

.settings .option-box .colors-list li:first-child{
    background-color: #00bcd4;
}

.settings .option-box .colors-list li:nth-child(2){
    background-color: #673ab7;
}

.settings .option-box .colors-list li:nth-child(3){
    background-color: #f44336;
}

.settings .option-box .colors-list li:nth-child(4){
    background-color: #4caf50;
}

.settings .option-box .colors-list li:nth-child(5){
    background-color: #ffeb3b;
}

.settings .option-box .enable,
.settings .option-box .disable{
    width: 70px;
    background-color: darkblue;
    color: white;
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.6s;
}

.settings .random span.active,
.settings .bullet span.active{
    opacity: 1;
    border: 1px solid black;
}

.settings .option-box .enable{
    background-color: #4caf50;
}
.settings .option-box .disable{
    background-color: #f44336;
}

.reset{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 15px auto;
    display: block;
    cursor: pointer;
    font-weight: bold;
}

/* End Settings */

.nav-bullets{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    z-index: 1000;
}

.nav-bullets .bullet{
    width: 15px;
    aspect-ratio: 1;
    border: 2px solid var(--main-color);
    transition: 0.6s;
    margin: 15px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.nav-bullets .bullet .tooltip{
    background-color: #333;
    width: 100px;
    color: white;
    padding: 4px;
    position: absolute;
    right: 25px;
    top: -8px;
    text-align: center;
    cursor: default;
    border-radius: 5px;
    pointer-events: none;
    display: none;
}

.nav-bullets .bullet .tooltip::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    top: 3px;
    right: -20px;
    border-color: transparent transparent transparent #333;
}

.nav-bullets .bullet:hover .tooltip{
    display: block;
}

/*Start Landing*/

.landing {
    min-height: 100vh;
    background-image: url(../img/landing2.jpg);
    background-size: cover;
    background-position: bottom center;
    position: relative;
}

.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 80 175 / 25%);
    z-index: 1;
}

.landing .header {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 15px;
}

.landing .header .logo {
    width: 300px;
    padding: 15px;
    font-weight: bold;
    color: var(--main-color);
}

.landing .header ul {
    list-style: none;
    padding-left: 0;
    padding-right: 20px;
    width: 100%;
    text-align: right;
    font-size: 15px;
}

.landing .header ul li {
    display: inline-block;
    margin-left: 15px;
}

.landing .header ul li a:hover{
    color: var(--main-color);
}

.landing .header ul li a.active{
    color: var(--main-color);
}

.landing .header ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.landing .intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
}

.landing .intro h1 {
    font-size: 34px;
    margin: 0 0 15px;
}

.landing .intro h1 span {
    color: var(--main-color);
    transition: 1s;
}

.landing .intro p{
    line-height: 1.6;
    font-size: 20px;
}


/* End Landing */

/*Start About Us*/

.about{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.about .info-box{
    flex: 1;
    padding: 30px;
}

.about .info-box h1{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    transition: 0.6s;
    margin: 0 0 25px;
}

.about .info-box p{
    line-height: 1.7;
    color: #777;
    margin: 0;
}

.about .img-box{
    width: 500px;
    flex: 1;
    text-align: center;
}

.about .img-box img{
    max-width: 300x;
}

/* End About Us */


/*Start Our Skills*/

.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}

.skills h1{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    transition: 0.6s;
    margin: 0 0 50px;
    text-align: center;
}

.skills .skills-box{
    background-color: white;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}

.skills .skills-box .skill-name{
    font-weight: bold;
    width: 100px;
    text-align: center;
    line-height: 30px;
}

.skills .skills-box .skill-progress{
    height: 30px;
    width: calc(100% - 110px);
    background-color: #f5f5f5;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.skills .skills-box .skill-progress span{
    position: absolute;
    background-color: var(--main-color);
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: all 0.6s;
}

/* End Our Skills */

/*Start Gallery*/

.gallery{
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallery h1{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    transition: 0.6s;
    margin: 0 0 50px;
    text-align: center;
}

.gallery .imgs-box{
    text-align: center;
}

.gallery .imgs-box img{
    width: 200px;
    padding: 3px;
    background-color: #f6f6ff;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}

.popup-overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.popup-box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
}

.popup-box h1{
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color);
}

.popup-box img{
    max-width: 100%;
}

.close-btn{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
}

/* End Gallery */

/*Start Timeline*/

.timeline{
    padding: 50px 0;
    background-color: #eee;
}

.timeline .time-cont{
    position: relative;
    overflow: hidden;
}

.timeline .time-cont::before{
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin: -1px;
    top: 0;
    transition: 0.6s;
    border-radius: 1px;
}

.timeline .time-cont .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.6s;
}

.timeline .time-cont .left,
.timeline .time-cont .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}

.timeline .time-cont .left{
    float: left;
}

.timeline .time-cont .left::before{
    right: -35px;
}

.timeline .time-cont .right{
    float: right;
}

.timeline .time-cont .right::before{
    left: -35px;
}

.timeline .time-cont .right::before,
.timeline .time-cont .left::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: white;
    border: 3px solid var(--main-color);
    transition: 0.6s;
    border-radius: 50%;
    top: 20px;
}

.timeline .time-cont .cont{
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.timeline .time-cont .cont h3{
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
}

.timeline .time-cont .cont p{
    color: #777;
    margin: 0;
    line-height: 1.6;
}

.clear-fix{
    clear: both;
}

.timeline .time-cont .left .cont::before{
    right: -20px;
    border-color: transparent transparent transparent #fff;
}

.timeline .time-cont .right .cont::before{
    left: -20px;
    border-color: transparent #fff transparent transparent ;
}

.timeline .time-cont .left .cont::before,
.timeline .time-cont .right .cont::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    top: 20px;
}

/* End Timeline */

/*Start Features*/

.features{
    padding: 80px 0;
}

.features h1{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    transition: 0.6s;
    margin: 0 0 60px;
    text-align: center;
}

.features .feat-box{
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}

.features .feat-box img{
    max-width: 100%;
    width: 100px;
}

.features .feat-box h4{
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}

.features .feat-box h4::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}

.features .feat-box p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
}

/* End Features */

/* Start Testimonials*/

.testimonials{
    min-height: 600px;
    position: relative;
    padding: 60px 0;
}

.testimonials::before{
    content: "";
    position: absolute ;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    transition: 0.6s;
}

.testimonials::after{
    content: "";
    position: absolute ;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #333;
}

.testimonials h1{
    font-weight: bold;
    font-size: 30px;
    color: white;
    transition: 0.6s;
    margin: 0 0 60px;
    text-align: left;
    position: relative;
    z-index: 5;
}

.testimonials .ts-box{
    position: relative;
    z-index: 2;
    width: calc(98%/3);
    float: left;
    background-color: white;
    padding: 20px;
}

.testimonials .ts-box:not(:last-of-type){
    margin-right: 1%;
}

.testimonials .ts-box > p{
    margin: 0 0 15px;
    line-height: 1.5;
    font-size: 18px;
    color: var(--main-color);
    font-style: italic;
}

.testimonials .ts-box .info{
    overflow: hidden;
}

.testimonials .ts-box .info img{
    width: 80px; 
    height: 80px;
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}

.testimonials .ts-box .info h4{
    margin: 14px 0 5px;
}

.testimonials .ts-box .info p{
    color: #777;
    font-weight: bold;
}

/* End Testimonials */

